@import '../../styles/partials/breakpoints.module';
@import '../../styles/partials/variables.module';

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        padding: 2em 0 4em 0;
    }

    @include breakpoint(lg-down) {
        main {
            padding: 2em 1em;
        }
    }
}
