@import '../../styles/partials/breakpoints.scss';
@import '../../styles/partials/variables.scss';

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        padding: 1em 0;
    }

    @include breakpoint(lg-down) {
        main {
            padding: 1em;
        }
    }
}
