@import '../styles/partials/breakpoints.module';
@import '../styles/partials/variables.module';

.root {
    .wrapper {
        margin: 0 auto;
        width: 1200px;

        h2 {
            font-size: 20px;
            font-weight: bold;
        }
    }

    @include breakpoint(lg-down){
        .wrapper {
            width: 100%;
        }
    }
}
