@import './styles/partials/breakpoints';
@import './styles/partials/variables';

.master-template {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        padding: 1em 0;
    }

    @include breakpoint(lg-down) {
        main {
            padding: 1em;
        }
    }
}
