@import '../styles/partials/breakpoints';
@import '../styles/partials/variables';

nav {
    a {
        color: $gray-500;
        text-decoration: none;
        &.active {
            font-weight: bold;
            color: $white;
        }
    }

    ul {
        display: flex;
        li {
            margin: 0 0 0 2em;
        }
    }
}
