@import '../styles/partials/breakpoints';
@import '../styles/partials/variables';

footer {
    color: $gray-500;
    font-size: .8em;

    .wrapper {
        margin: 0 auto;
        padding: 3em 0 3.5em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray-300;
        width: 1200px;

        .logotype {
            display: flex;
            align-items: center;
            margin: 0 .5em 0 0;
            outline: none;

            h2 {
                margin: 0 .3em 0 0;
                text-indent: -9999px;
                width: 30px;
                height: 30px;
                background-image: url(../images/logo.svg);
                background-position: center;
                background-size: cover;
            }

        }

        .navigation {
            a {
                color: $gray-700;
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid $gray-500;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: 0 0 0 2.5em;
                }
            }
        }
    }

    @include breakpoint(lg-down) {
        .wrapper {
            flex-direction: column;
            padding: 1em 0 1.5em 0;
            width: 100%;

            .logotype {
                margin: 0 0 .5em 0;
            }

            .navigation {
                ul {
                    justify-content: center;

                    li {
                        margin: 0 1em 0 0;
                    }
                }
            }
        }
    }
}
