
@import '../styles/partials/variables';

.root {
    padding: 0;
    margin: 0;

    form {
        display: flex;

        .searchInput {
            margin: 0 .5em 0 0;
            width: 80%;
        }

        .searchSubmit {
            width: 20%;
        }
    }


}
