@import '../styles/partials/breakpoints.scss';
@import '../styles/partials/variables.scss';

.root {

    table {
        width: 100%;
        border-spacing: 0;
        border: none;
        margin: 1em 0;

        img {
            height: 50px;
        }

        th, td {
            margin: 0;
            padding: .5em;
        }
    }
}
