
@import "../styles/partials/_breakpoints.module.scss";
@import '../styles/partials/variables.module';

.root {
    .wrapper {
        margin: 0 auto;
        width: 900;

        form {
            position: relative;
            margin: 0 auto;
            width: 600px;

            .searchInput {
                display: inline-block;
                margin: 0 .5em 0 0;
                width: 100%;
            }

            .searchButton {
                display: inline-block;
                width: 50px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    @include breakpoint(md-down) {
        margin: 0 1.5em;
        
        .wrapper {
            width: 100%;

            form {
                width: 100%;
            }
        }
    }
}
